:root {
  --error-color: #ff4840;
  --interactable: #20a060;
  --panel-background: #26272a;
  --panel-border: #101418;
  --panel-inset: #18191c;
  --link-color: #80d0ff;
	--link-visited: #50c0e0;
  --text-color: white;
  }

#root {
  align-items: stretch;
  background-color: black;
  bottom: 0;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

a:link {
	color: var(--link-color);
}

a:visited {
	color: var(--link-visited);
}

button {
  background-color: transparent;
  border: solid 1px var(--interactable);
  border-radius: 4px;
  color: white;
  user-select: none;
  transition: background-color 0.5s;
  white-space: nowrap;
}

button, input[type='checkbox'] {
  cursor: pointer;
}

section button {
  background-color: var(--interactable);
}

button[disabled] {
  border-color: #606060;
  color: rgba(255, 255, 255, 0.75);
  pointer-events: none;
}

section button[disabled] {
  background-color: #606060;
}

button:hover {
  background-color: var(--interactable);
}

code {
  background-color: var(--panel-inset);
  border-radius: 2px;
  padding: 0 8px;
}

h1, h2, h3, h4, h5, label {
  margin: 0;
  padding: 0;
  user-select: none;
}

h1 {
  margin: 20px 0px;
  text-align: center;
}

input {
  border: solid 1px gray;
  border-radius: 2px;
  transition: border-color 0.5s;
}

input[readonly] {
  background-color: rgba(255, 255, 255, 0.25);
}

input:hover, input:active {
  border-color: var(--interactable);
}

main {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  /* justify-content: center; */
  overflow-y: auto;
  padding: 0 10px 20px 10px;
}

p {
  margin: 0;
  padding: 0;
}

p + p, p + code, code + p {
  margin-top: 10px;
}

section {
  background-color: var(--panel-background);
  border: solid 2px var(--panel-border);
  border-radius: 8px;
  padding: 10px 20px;
}

.error {
  color: var(--error-color);
}

.fade {
  opacity: 0;
  transition: opacity 0.5s;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.25s;
}

@media screen and (max-width: 1000px) {
  section {
    padding: 10px;
  }

  select {
    height: 32px;
  }
}

@media screen and (max-width: 440px) {
  button, input, select {
    height: 28px;
  }

  button {
    padding: 2px 8px;
  }
}