:root {
  --error-color: #ff4840;
  --interactable: #20a060;
  --panel-background: #26272a;
  --panel-border: #101418;
  --panel-inactive: #202126;
  --panel-inset: #18191c;
  --link-color: #80d0ff;
	--link-visited: #50c0e0;
  --text-color: white;
  }

#root {
  align-items: stretch;
  background-color: black;
  bottom: 0;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

a:link {
	color: var(--link-color);
}

a:visited {
	color: var(--link-visited);
}

button {
  background-color: transparent;
  border: solid 1px var(--interactable);
  border-radius: 4px;
  color: white;
  user-select: none;
  transition: background-color 0.5s;
  white-space: nowrap;
}

button, input[type='checkbox'] {
  cursor: pointer;
}

section button {
  background-color: var(--interactable);
}

button.minimal {
  border-color: transparent;
  color: gray;
  transition: color 0.5s;
}

button[disabled] {
  border-color: #606060;
  color: rgba(255, 255, 255, 0.75);
  pointer-events: none;
}

section button[disabled] {
  background-color: #606060;
}

button:hover {
  background-color: var(--interactable);
}

button.minimal[disabled] {
  border-color: transparent;
  color: #404040;
}

button.minimal:hover {
  background-color: transparent;
  color: var(--interactable);
}

code {
  background-color: var(--panel-inset);
  border-radius: 2px;
  padding: 0 8px;
  white-space: wrap;
}

h1, h2, h3, h4, h5, label {
  margin: 0;
  padding: 0;
  user-select: none;
}

h1 {
  margin: 20px 0px;
  text-align: center;
}

input, select, textarea, .markdown-editor {
  border: solid 2px gray;
  border-radius: 4px;
  transition: border-color 0.5s;
}

input[readonly], textarea[readonly] {
  background-color: rgba(255, 255, 255, 0.25);
}

input:hover, input:active, select:hover, select:active, textarea:hover, textarea:active, .markdown-editor:hover {
  border-color: var(--interactable) !important;
}

main {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  /* justify-content: center; */
  overflow-y: auto;
  padding: 0 10px 20px 10px;
}

p {
  margin: 0;
  padding: 0;
}

p + p, p + code, code + p {
  margin-top: 10px;
}

section {
  background-color: var(--panel-background);
  border: solid 2px var(--panel-border);
  border-radius: 8px;
  padding: 10px 20px;
}

select:not(disabled) {
  cursor: pointer;
}

textarea {
  resize: none;
}

#spinner-container {
	align-items: center;
  animation-duration: 0.5s;
  animation-name: fade-in;
	background-color: rgba(0, 0, 0, 0.25);
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
  transition: opacity 0.5s;
}

.error {
  color: var(--error-color);
}

.fa-clickable {
  cursor: pointer;
  transition: color 0.5s;
}

.fa-clickable:hover {
  color: var(--interactable);
}

.fade {
  opacity: 0;
  transition: opacity 0.5s;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.25s;
}

.mdxeditor-toolbar {
  background-color: transparent !important;
  border-radius: 0;
  padding: 0;
}

.markdown-input, .markdown-textarea {
  background-color: white;
  border: solid 2px gray;
  border-radius: 4px;
  border-top-right-radius: 0;
  padding: 2px 8px;
  z-index: 10;
}

.markdown-toolbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.markdown-toolbar > label {
  color: var(--text-color);
  font-weight: bold;
}

.markdown-toolbar > div {
  align-self: flex-end;
  background-color: var(--panel-inset);
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: silver;
  display: flex;
  margin: 0;
}

.markdown-toolbar div[role="separator"] {
  opacity: 25%;
}

.markdown-toolbar button {
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.markdown-toolbar button svg {
  max-height: 5vw;
  max-width: 5vw;
}

.markdown-toolbar button:disabled {
  background-color: transparent;
  color: rgba(128, 128, 128, 0.5);
}

.markdown-toolbar button:hover {
  background-color: var(--panel-background);
  color: white;
}

.top-left {
	left: 0;
	position: absolute;
	top: 0;
}

.top-right {
	position: absolute;
  right: 0;
	top: 0;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1 }
}

@media screen and (max-width: 1000px) {
  section {
    padding: 10px;
  }

  button, input, select {
    height: 28px;
  }

  button {
    padding: 2px 8px;
  }
}